<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319714622880-u7f4uavvhc9vs8fruvqnchcnm2j32d54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319714622880-u7f4uavvhc9vs8fruvqnchcnm2j32d54</string>
	<key>API_KEY</key>
	<string>AIzaSyAUAI_EATz3QKgbXX8oY-UW4_sL5D0o34I</string>
	<key>GCM_SENDER_ID</key>
	<string>319714622880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fleeque</string>
	<key>PROJECT_ID</key>
	<string>fleeque-2b397</string>
	<key>STORAGE_BUCKET</key>
	<string>fleeque-2b397.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319714622880:ios:dcef652105ecc8f87478c5</string>
</dict>
</plist>